TELEGRAM_BOT_TOKEN=<my_bot_token_here>
BOT_OWNER_USER_ID=<my_user_id>

QBITTORRENT_URL=http://127.0.0.1:8080
QBITTORRENT_USERNAME=admin
QBITTORRENT_PASSWORD=adminadmin
DOWNLOADS_ROOT=downloads

HFS_BASE_URL=http://localhost:8081
DOWNLOAD_LINK_SECRET=replace_with_long_random_secret
DOWNLOAD_LINK_TTL_SECONDS=1800


MAX_TORRENT_BYTES_HARD=2097152
MAX_TORRENT_BYTES_WARN=524288
MAX_MAGNET_URL_LENGTH=8192
MAX_MAGNET_TRACKERS=100
MAX_TORRENT_FILE_COUNT=10000
MAX_TORRENT_NAME_LENGTH=255
MAX_TRACKER_URL_LENGTH=2048
MAX_TORRENT_PATH_SEGMENT_LENGTH=255
MAX_TORRENT_AGGREGATE_SIZE_BYTES=0
QUEUE_DOWNLOAD_RATE_LIMIT_PER_MIN=10
TORRENT_INPUT_TMP_DIR=tmp/torrent_inputs
QBIT_API_TIMEOUT_SECONDS=15
QBIT_GLOBAL_UPLOAD_LIMIT_BYTES_PER_SEC=1048576
